
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
}

.header a {
    color: white;
    text-decoration: none;
}

.mainblurb {
    color: #f9faf8;
    font-weight: 900;
    font-size: 38px;
}

.blurbdesc {
    color: #f9faf8d8;
    font-size: 14px;
}

.headerlinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerlogo {
    color: #f9faf8;
}

.right-links {
    display: flex;
    gap: 18px;
}

.header-left-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    justify-content: center;
    margin-top: 50px;
}

button {
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    color: #f9faf8;
    border-radius: 6px;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: black solid 1px;
}

.blockone {
    display: flex;
    justify-content: space-between;
}

.headerimage {
    width: 375px;
    height: 200px;
    border: whitesmoke solid 2px;
    margin-top: 50px;
}

.headertwo {
    font-size: 26px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.midimages {
    height: 150px;
    width: 150px;
    border: #3882f6 solid 3px;
    border-radius: 10px;
}

.midimagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.midimagecontainer p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.712)
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 150px;
    text-align: center;
}

.thirdcontainer {
    display: flex;
    height: 250px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}

.quotecontainer {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 26px;
    color: #1f2937;
    font-style: italic;
}

.quoteattribution {
    font-weight: 700;
    align-self: flex-end;
}