
body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
}

.header a {
    color: white;
    text-decoration: none;
}

h1 {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

.headerlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-left-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
}

button {
    background-color: #3882f6;
    max-width: 100px;
    color: #f9faf8;
}